.app__iconLogout {
  background-color: transparent;
  color: black;
  margin-top: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
.react_icons_btn {
  padding: 0;
}
.react_icons {
  font-size: 24px;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
