.center {
  text-align: center;
}
.auth {
  height: 486px;
}
.auth_btn {
  text-align: center;
}
.try_btn {
  width: 150px;
}
.map_btn {
  color: white;
  width: 150px;
}
.mt_15 {
  margin-top: 10px;
  text-align: center;
}
