body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h4 {
  margin: 0;
}

.title {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search_locate {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 1.5rem;
  left: 45%;
  transform: translate(-50%, 0);
  vertical-align: bottom;
}
.btn {
  cursor: pointer;
  padding-left: 10px;
  color: black;
  width: 35px;
  height: 35px;
}
.red {
  color: red;
  letter-spacing: -3px;
}
.green {
  color: #008000;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -5px;
  padding-top: 5px;
}
ul {
  list-style: none;
  padding: 0;
}
.doted {
  text-align: center;
  margin-bottom: 10px;
  border: dotted;
  color: black;
}
.doted img {
  width: 40px;
  height: 40px;
  padding-top: 3px;
}
.black {
  color: black;
}
