.black {
  color: black;
}
.search input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 40vw;
  border: none;
  outline: none;
  border-radius: 10px;
}
.rounded {
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  height: 150px;
}
